/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-inline-size: 375px;
    max-inline-size: 1440px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
}

h4,
h5,
h6,
p {
    font-weight: normal;
}

p {
    line-height: 23.4px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

picture {
    margin: 0;
    padding: 0;
}

button,
a {
    cursor: pointer;
    color: currentColor;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    position: relative;
    text-shadow: 2px 2px 0 var(--main-color);
    text-decoration: none;
}

a:hover {
    border-block-end: 1px solid var(--second-color);
}

a:focus {
    outline: none;
}

a:focus-visible {
    outline: 1px solid var(--second-color);
}

img {
    display: flex;
    object-fit: cover;
    object-position: center;
    block-size: 100%;
    inline-size: 100%;
}
