/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
    --backgroud-color: #000028;
    --main-color: #FF0070;
    --second-color: #F1B2CE;
    --decorate-color: #FF0070;
    --decorate-color-hover: #FF007066;

    --padding-size: 10px;

    --header-text-color: #000028;
    --header-footer-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

    --main-header-title-color: #DB00FF;

    --header-backdround: url("../images/cover-image-dark.png");

    --header-rec-display: flex;
}

@media (width > 767px) {
    :root {
        --padding-size: 20px;
        --header-footer-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}
